---
title: Home
---

<h2>2ER0's Lumpy Spacetime</h2>

<!--
<img src="/images/logo.png" style="float: right; margin: 10px;">
-->
<p></p>

<p>A Chaos Generator</p>
<!--
<h2>Posts</h2>
-->
$partial("templates/post-list.html")$

<p>more in <a href="/list.html">list</a>.</p>